---
layout: default
---
<section>
  <h1 class="headline">{{site.title}}</h1>
  <div class="meta">{{site.description}}</div>
</section>

{% for post in site.posts %}

  <section>
    <h3>
      <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
      <small>
        {{post.date | date: '%B %d, %Y'}}

        {% if post.categories.size >= 1 %}
          in {{post.categories | array_to_sentence_string | replace: "_", "&nbsp;"}}
        {% endif %}
      </small>
    </h3>

    <p class="excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
    <a class="excerpt-more" href="{{post.url | prepend: site.baseurl}}">Read more&hellip;</a>
  </section>

{% endfor %}
