/* *{
    -webkit-transition: all 0.2s; Safari
    -webkit-transition-timing-function: linear; Safari
    transition: all 0.2s;
    transition-timing-function: linear;
} */

html, body {
    height: 100%;
}

body {
    max-width: $content-width;
    font-family: $base-font-family;
    margin: 0 auto;
    line-height: $base-line-height;
    font-size: $base-font-size;
    color: $text-color;
    padding: 2em 1em;
    text-rendering: optimizeLegibility;
    height: 100%;

    @include media-query($on-laptop) {
        margin: 0;
    }

    @include media-query($on-palm) {
        max-width: 100%;
        padding: 1em;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.8;
    margin: 0;
    text-transform: capitalize;

    > small {
        font-size: .6em;
        opacity: .3;
        text-transform: none;
    }
}

a {
    color: $brand-color;
    text-decoration: none;
    &:hover{
        color: $text-color;
    }
}

p a {
    color: lighten($text-color, 15%);
    text-decoration: none;
    background: -webkit-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);
    box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);
    -webkit-transition: box-shadow ease 1s;
	-moz-transition: box-shadow ease 1s;
	transition: box-shadow ease 1s;

    &:hover {
        color: lighten($background-color, 50%);
        box-shadow: inset 0 -100px 0 0 lighten($brand-color, 10%);
    }
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

pre,
code {
    overflow: auto;
    font-size: 0.7*$base-font-size;
    border-radius: 3px;
    border: 1px solid $grey-color-light;

    > code {
        border: none;
    }
}

pre {
    padding: 1em;
}

code {
    padding: 0.1em;
}

blockquote {
    border-left: 2px solid $brand-color;
    padding-left: 1em;
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 0.9*$base-font-size;
    font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    tr {
        line-height: 2.2em;
        border-bottom: 1px solid $brand-color;

        th, td {
            padding: 0 6px;
        }
    }
}


aside {
    max-width: 340px;
    position: absolute;
    top: 2em;
    left: calc(50% + #{$content-width} / 2);
    opacity: .9;
    padding: 0 1em;

    &:hover{
        opacity: 1;
    }

    ul.menu {
        margin: 0;
        padding: 0;

        li.menuitem {
            display: block;
            list-style: none;
            white-space: nowrap;
        }

        li.menuheader {
            display: block;
            list-style: none;
            margin-top: 1em;
        }
    }

    @include media-query($on-laptop) {
        left: calc(#{$content-width} + 1em);
    }

    @include media-query($on-tablet) {
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        margin-bottom: 4em;

        ul.menu {
            li.menuitem {
                display: inline-block;
                margin-right: 1em;
            }
        }
    }
}

abbr {
    border-bottom: 1px dotted $text-color;
}

#header-image {
    width: 100%;
    max-height: 145px;
    overflow: hidden;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: max-height 1.5s ease-in-out;

    @include media-query($on-palm) {
        max-height: 108px;
    }

    &:hover {
        max-height: 2000px;
    }

    img {
        visibility: hidden;
        width: 100%;
    }
}

.headline {
    font-size: 2em;

    &::first-line {
        font-size: 2em;

        @include media-query($on-palm) {
            font-size: 2em;
        }
    }
}

.post-headline {
    font-size: 1.5em;

    &::first-line {
        font-size: 2em;

        @include media-query($on-palm) {
            font-size: 1.5em;
        }
    }
}

.home {
    display: none;

    @include media-query($on-laptop) {
        display: block;
        background-image: url(../images/left-arrow.svg);
        background-repeat: no-repeat;
        position: fixed;
        top: 90%;
        left: 90%;
        height: 30px;
        width: 30px;
        opacity: 0.6;
    }
}

.meta {
    font-size: .9em;
    opacity: .5;
    margin-bottom: 1em;
}

.index,
article,
#disqus_thread {
    margin-bottom: 4em;
}

.index .index-post {
    margin: 1em 0;

    .index-post-image {
        display: block;
        width: 100%;
        height: 90px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: .7;
    }

    a:hover .index-post-image {
        opacity: 1;
    }
}

.excerpt {
    margin-top: 0;
    margin-bottom: 0;
}

.excerpt-more {
    display: inline-block;
    margin-bottom: 1em;
    font-size: .9em;
    color: darken($brand-color, 20%);
}

.video {
    width: 100%;
    height: 360px;
    @include media-query($on-laptop) {
        height: 300px;
    }
    @include media-query($on-palm) {
        height: 180px;
    }
}

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid $brand-color;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}

/* Theme switch button */
.theme {
    display: block;
    background-size: contain;
    height: 40px;
    width: 40px;
    margin: 1.8em 0 1em 0;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}

footer {
    position: relative;
    margin: 4em 0 2em 0;

    @include media-query($on-laptop) {
        margin: 2em 0 1em 0;
    }

    .license {
        max-width: 600px;
        margin: auto;
        text-align: center;
    }
}
