---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" sizes="32x32">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:900|Work+Sans" rel="stylesheet">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link id="syntax" rel="stylesheet" href="{{site.baseurl}}/css/syntax/default.css">
  {% seo %}
</head>
<body style="background-color: rgb(255, 255, 255)">

  <main>
    {{ content }}
  </main>

  <aside>
    {% if page.url != "/" %}
      <section>
        <h2>Paulo Diovani</h2>
        <div class="meta">{{site.description}}</div>
      </section>
    {% endif %}

    <nav>
      <ul class="menu">
        <li class="menuitem"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="menuitem"><a href="{{site.baseurl}}/about/">About</a></li>
        <li class="menuitem"><a href="{{site.baseurl}}/contact/">Contact</a></li>
        <li class="menuitem theme" onclick="theme()" style="background-image: url({{site.baseurl}}/images/theme.svg)"></li>
      </ul>

      <a href="{{site.baseurl}}/"><div class="home"></div></a>
    </nav>
  </aside>

  <footer>&nbsp;</footer>

  <script src="https://use.fontawesome.com/75875ac355.js"></script>
  <script src="{{site.baseurl}}/js/theme.min.js"></script>
  {% include analytics.html %}

</body>
</html>
