---
layout: default
---
<section>
  {% if page.category_listing %}

    <h1 class="headline">{{page.category_listing | replace: "-", "&nbsp;"}}</h1>
    <div class="meta">All posts in {{page.category_listing | replace: "-", "&nbsp;"}}</div>

    {% assign posts = site.categories[page.category_listing] %}

  {% else %}

    <h1 class="headline">{{site.title}}</h1>
    <div class="meta">{{site.description}}</div>

    {% assign posts = site.posts %}

  {% endif %}
</section>

{% for post in posts %}

  <section>
    <h3>
      <a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
      <small>
        {{post.date | date: '%B %d, %Y'}}

        {% if post.categories.size >= 1 %}
          in {{post.categories | array_to_sentence_string | replace: "-", "&nbsp;"}}
        {% endif %}
      </small>
    </h3>

    <p class="excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
    <a class="excerpt-more" href="{{post.url | prepend: site.baseurl}}">Read more&hellip;</a>
  </section>

{% endfor %}
